# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

#Start ----------------------------------

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Database
TURSO_DATABASE_URL="libsql://sarm-darvey-trinidad.aws-ap-northeast-1.turso.io"
TURSO_AUTH_TOKEN="eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3NTI1MDg1MjYsImlkIjoiNzllNmUzMTQtZjYyMS00MGUyLThiYzQtNDM5ZmE0ODRiZDc4IiwicmlkIjoiYTY0ZjY1NzktN2E5Mi00ZDdiLWFkMzctOWRiOGRkZWE5NWEwIn0.2aP6P3cYJzYkFu_Q7YOoMScOpYaD54bmHHGAxXHa2N6GVzfdeBoPQKSdw7VkckylfYz2tz7EoAenypl6qVxoCg"

# Auth
BETTER_AUTH_SECRET="tXM4uCtMtMjkZkF8cxikDzHyeGua1D53"
NEXT_PUBLIC_BETTER_AUTH_URL="http://localhost:3000"

# Nodemailer
GOOGLE_EMAIL_USER="sarm.bulsu@gmail.com"
GOOGLE_APP_PASSWORD="qsbl qttc teab zltb"

# Uploadthing
UPLOADTHING_TOKEN='eyJhcGlLZXkiOiJza19saXZlX2MzMDlmNjhjYzUwOWViNzQ1YzJmODM0M2EwZjc5ZWM5ZTcyM2UwYTdjMjNjNGM3M2JmMTNlMmRiNDc1Mjg5ZjYiLCJhcHBJZCI6IndlZ2x1bHVmOWIiLCJyZWdpb25zIjpbInNlYTEiXX0='

# Example:
# SERVERVAR="foo"
# NEXT_PUBLIC_CLIENTVAR="bar"

#End --------------------------------------
